body {
	margin: 0px;
	background: linear-gradient(
		to bottom,
		hsl(273, 75%, 66%),
		hsl(240, 73%, 65%)
	);
	background-repeat: no-repeat;
	height: 100vh; /* use todo el alto de la pantalla */
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: white;
	height: 510px; /* alto del card */
	width: 900px; /* ancho del card */
	border-radius: 20px; /*  */
	margin: 0px;
	overflow: hidden; /*para que el contenido del card no se salga... desvordamiento... se oculta */
	background-image: url('../images/bg-pattern-desktop.svg');
	background-repeat: no-repeat;
	background-position: left -580px top -300px, right -20% bottom 250%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#izquierda {
	border: 0px;
	padding: 0px;
	margin: 0px;
	height: 90%;
	width: 40%;
	display: inline-block;

	/* border: 1px solid black; */
}
.imagen1 {
	width: auto;
	height: auto;
	margin-left: -110px;
	margin-top: 50px;
}
.imagen2 {
	position: absolute;
	margin-left: -150px;
	margin-top: -230px;
}
#derecha {
	border: 0px;
	padding: 0px 0px 0px 100px;
	margin: 0px;
	height: 90%;
	width: 45%;
	display: inline-block;
	/* border: 1px solid black; */
}
